<ion-view view-title="Dashboard">
  <ion-content class="padding">
    <ion-grid>
      <ion-row>
        <h2 class="title titleSkn" ng-controller=" todoCtrl">
          <div class="list">

            <label class="item item-input">
              <input type="text" ng-model="text" placeholder="write here"></input>
            </label>

            <div class="item button button-block button-stable" 
            ng-model="addTodoBtn"
            ng-disabled="!text"
            ng-click="saveTodo()">Save</div>

          </div>
        </h2>
      </ion-row>
    </ion-grid>
  </ion-content>

</ion-view>
